# Core scientific stack
numpy
pandas
matplotlib
jupyter
ipywidgets

# Robotics and dynamics (only pip-available)
pinocchio==3.4.0
casadi==3.7.0
rockit-meco

# Reinforcement Learning
gymnasium
torch
stable-baselines3
sb3-contrib

# Logging and experiments
wandb
tensorboard

# Dev tools
jupyterlab-git
tyro
