# Core scientific stack
numpy
pandas
matplotlib
jupyter
ipywidgets

# Robotics and dynamics
pinocchio==3.4.0
casadi==3.7.0
example-robot-data
meshcat
rockit-meco

# Reinforcement Learning
gymnasium
torch
stable-baselines3
sb3-contrib

# Logging and experiments
wandb
tensorboard

# Dev tools
jupyterlab-git
tyro
